/* 4 - External */
body {
  padding-bottom: 500px;
}

h3 {
  color: orange;
}

/*O CSS É CARREGADO  A PARTIR DE UM ORDEM;
SE TEMOS ESTILOS MISTURADOS (INLINE > INTERNAL = EXTERNAL > PADRÃO DO NAVEGADOR;
ESTA REGRA FUNCIONA QUANDO TEMOS ESTILOS EM UM MESMO ELEMENTO;
INTERNO E EXTERNO TEM A MESMA PRIORIDADE, A ÚLTIMA REGRA GANHA A 'CORRIDA'.
*/

/* 8 - Classes */
.paragrafos {
  background-color: darkcyan;
  padding: 10px;
  color: white;
}

/* 9 ID */
#titulo-exclusivo {
  background-color: purple;
  color: yellow;
  padding: 10px;
}
