/* 4 - External */
body {
  padding-bottom: 500px;
}

h3 {
  color: orange;
}

/*O CSS É CARREGADO  A PARTIR DE UM ORDEM;
SE TEMOS ESTILOS MISTURADOS (INLINE > INTERNAL = EXTERNAL > PADRÃO DO NAVEGADOR;
ESTA REGRA FUNCIONA QUANDO TEMOS ESTILOS EM UM MESMO ELEMENTO;
INTERNO E EXTERNO TEM A MESMA PRIORIDADE, A ÚLTIMA REGRA GANHA A 'CORRIDA'.
*/

/* 8 - Classes */
.paragrafos {
  background-color: darkcyan;
  padding: 10px;
  color: white;
}

/* 9 ID */
#titulo-exclusivo {
  background-color: purple;
  color: yellow;
  padding: 10px;
}

/* 10 - ordem das regras*/
h2 {
  border-bottom: 2px solid red;
}

.algum-titulo {
  border-bottom: 3px solid blue;
}

#titulo {
  border-bottom: 4px solid green; /* aqui o id prevalesse em cima dos outros.*/
}

/* 11 - Nome de cores*/
.color-name {
  color: crimson;
}

/* 12 - Hex */
.hex {
  color: #55a398;
}

.hex2 {
  color: #b9b724;
}

/* 13 - Aprofundando o Hex*/
.simple-hex {
  color: #333;
}

.simple-hex-2 {
  color: #a5f;
}

/* 14 - RGB */
.rgb {
  color: rgb(225, 0, 0);
}

.rgb2 {
  color: rgb(33, 55, 111);
}
/* Background*/
.bg {
  background-color: #000;
  color: yellowgreen;
  padding: 7px;
}

.bg2 {
  background-color: #445;
  color: #fff;
  padding: 10px;
  border: none;
}

/* Background opacidade */

.bg-opacity {
  background-color: purple;
  opacity: 0.2;
}

.bg-opacity-2 {
  background-color: #999;
  opacity: 0.8;
  color: #000;
}

/* RGBA com opacidade*/
.rgba-opacity {
  background-color: rgba(90, 120, 20, 0.2);
  color: #000;
  /*pra mudar a opacidade de fundo é bem melhor usar o rgba, pois não altera a opacidade da fonte junto.*/
}

/* 20 - bg - imagem*/
.bg-image {
  background-image: url(img/japao-rua.jpg);
  padding: 20px;
  color: #fff;
}

/* Centralizando bg image*/
.not-centered-bg,
.centered-bg {
  height: 400px;
  width: 600px;
  background-image: url(img/carro-esporte-de-luxo.jpg);
}

.centered-bg {
  background-position: center;
  background-size: cover;
  border: 3px solid gray;
  border-radius: 10px;
}

/* Padding-individual */
.padding-individual{
  background-color: #222;
  color: #fff;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-right: 40px;
}

/* Shorthand-padding */
.shorthand-padding{
  background-color: #444;
  padding: 6px 12px 18px 24px;
}

.shorthand-padding-2{
  background-color: #555;
  padding: 10px 20px;
    /* padding: 10px 20px 10px 20px; */
}

/* Padding com Width */
.without-borde-box{
  background-color: #444;
  color: #fff;
  width: 400px;
  padding: 50px;
}